{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

<main class="container mt-5">

    <!-- Center the content -->
    <div class="d-flex flex-column align-items-center text-center">
        <h1>{{ watch.name }}</h1>
        <img src="{{ watch.image.url }}" alt="{{ watch.name }}" width="200" class="mb-3">
        <p>Brand: {{ watch.brand }}</p>
        <p>Price: ${{ watch.price }}</p>
        <p>{{ watch.description }}</p>
        <a href="{% url 'add_to_cart' watch.pk %}" class="btn btn-primary mt-3">Add to Cart</a>
    </div>

</main>

{% endblock %}
